body{
    background-color: #513457;
}
h1{
    color: #117fa0;
}
h2{
    color: #ffffff;
}
#sld2 {
    color: #50a500;
}
.csf{
    color: #ff0202;
}

ul{
    list-style: none;
    display: flex;
    font-size: 200%;
}
li{
    margin-left: 5px;
}